var format = function(text) {
  if (!text) return
  var reg = getRegExp('\\n', 'g')
  return text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;')
}

var limit = function(arr, length) {
  return arr.slice(0, length)
}

var highline = function(index) {
  if (index === 0) {
    return 'ex-tag1'
  }
  if (index === 1) {
    return 'ex-tag2'
  }
  return ''
}

module.exports = {
  format: format,
  limit: limit,
  highline: highline
}